body {
    font-family: 'roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

:root {
    --accent-color: #2196F3;
}

:root {
    --main-text-color: #212121;
}

/* Logo */
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--main-text-color);
text-decoration: none;
}

.logo-accent {
    color: var(--accent-color);
}

/* Header */
.header-link, .header-contacts-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text-color);
}

:current(.header-link, .header-contacts-link) {
    color: var(--accent-color);
}

.header-contacts-link {
color: #757575;
}

/* Main*/
.main-headerline {
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
background: #2F303A;
}

.btn {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--accent-color);
}

/* Concepts */
.concepts-header {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);
}

.concepts-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

/* Headlines */
.headline {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

/* Team */
.team {
    background: #F5F4FA;;
}

.team-item {
    background-color: #fff;
}

.team-person, .team-jobtitle {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

.team-jobtitle {
    color: #757575;;
}

/* Footer */
.footer, .main-section {
    background: #2F303A;
}

.footer-contacts-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-logo {
    color: #fff;
}

/* Portfolio page */
.btn-menu {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);
background: #F5F4FA;
}

.btn-menu:active {
    color: #FFFFFF;
    background: var(--accent-color);
}

.services-header {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-text-color);
}

.services-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}